/*-----------------------------HomePage-------------------------------*/

body{
    background-repeat: no-repeat;
    background-size: cover;
}

/*------------------------Nivel Caranguejo----------------------------*/

.caranguejo{
    position: absolute;
    bottom: 0;
}