body{
    height: 100%;
    width: 100%;
}



.grid{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    background-size: cover;
    background-image: url("imagens/cenario_sapo.jpg");
    font-size: 100px;
    text-align: center;
    background-position: center;

    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.doodler{
    width: 100px;
    height: 102px;
    background-image: url("imagens/sapo_1_100x101.png");
    position: absolute;
}

.platform{
    width: 100px;
    height: 15px;
    background-image: url("imagens/plataforma_madeira_100x15.png");
    position: absolute;
}